<div id="about">
    <h1> What is Collegemind </h1>
    <h3> We are a group of students and professionals seeking to build awareness and empathy through the stories of individual students across the country. We believe these stories are the building blocks of empowering connections between students and to their shared, common experience. Hoping to hear your story soon-
        <br />
        <br />
        Milad Rasavi
        Vanessa Beirut
        Sohrob Nayebaziz
        Z Wang
    </h3>
</div>