<div id="about">
    <h1> Where to Reach Us </h1>
    <h3> Any <span class="pcol">questions</span>, <span class="pcol">suggestions</span>, or content <span class="pcol">contributions</span>? <br/>Let us know at <span class="acol">collegemind.me@gmail.com</span>
        <br />
        <br />
    </h3>
</div>