<div id="about">
    <h1> Where to Reach Us </h1>
    <h3> Any questions, suggestions, or content contributions? Let us know at collegemind.me@gmail.com!
        <br />
        <br />
    </h3>
</div>