<div id="smallcontent">

<h1>ALL TAGS</h1>

<div id="tagline">
    <% @tags.each do |tag| %>
        <div id="chaquet">
            <%= link_to tag.name, tag_path(tag), class: 'eacht' %>
            <br />
            <% if logged_in? %>
                <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"}%>
            <% end %>
        </div>
    <% end %>
</div>

</div>