<div id="smallcontent">


<h1>STORIES ON " <%= @tag.name %> "</h1>

<div id="articles">
    <% @tag.articles.each do |article| %>
        <div id="chaque">
            <%= link_to article.title, article_path(article), class: 'each' %>
        </div>
    <% end %>
</div>


</div>